body {
    margin:0;
    padding:0;
    background-color: black;
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    color: white;
    overflow: hidden;
}

.landing-page {
    align-items: center;
    text-align: center;
}

.landing-page img {
    width: 25%;
}

.landing-page .headline {
    font-size: 30px;
}

.menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 15vw;
    padding: 10px;
    height: 100vh;

    background-color: rgba(0,0,0,0.5);
    border-style: solid;
    border-color: white;
    border-radius: 2px;
}

.menu input {
    height: 45px;
    background-color: #424242;
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    color: white;
    border-radius: 0;
    border: none;
}

.modal-buttons {
    margin-top: 20px;
}

button {
    background-color: #424242;
    color: white;
    padding: 20px;
    border: none;
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    cursor: pointer;
}

button:hover {
    background-color: #626262;
}

.settings {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.window-setting {
    display: flex;
    align-items: center;
}

.window-setting label {
    margin-left: 10px;
}



#aladin-lite-div {
    position: fixed;
    top: 0;
    left: 0;
    width:100vw;
    height:100vh;
    border: none;
}

/* API call does not work */
.aladin-location {
    display: none;
}
.aladin-fov {
    display: none;
}

#jasmine-viewer {
    background-size: 100vw auto;
    background-position: left top;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#jasmine-viewer, #jasmine-canvas{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
}

#jasmine-canvas {
    display: none;
    background-color: white;
    z-index: 10;
}

.info {
    position: absolute;
    top: 95vh;
    right: 5px;
    display: block;
    float: right;
    text-align: right;
    z-index: 10;
}

.jasmine-logo {
    z-index: 10;
    position: absolute;
    width: 90px;
    left: 5px;
    bottom: 5px;
}

.jasmine-logo img {
    width: 100%;
}

.data-select {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
}

.jsm-selection-wrapper {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    border-style: solid;
    border-color: white;
    border-radius: 2px;
    padding: 10px;
    top: 0;
    right: 0;
}

.jsm-select {
    display:flex;
    flex-direction: column;
    position:relative;
    margin-top: 10px;
    width: 20vw;
}
.jsm-option {
    padding:0 30px 0 10px;
    min-height:40px;
    display:flex;
    align-items:center;
    background: #424242;
    border-top:#424242 solid 1px;
    position:absolute;
    top:0;
    width: 100%;
    pointer-events:none;
    order:2;
    z-index:1;
    transition:background .4s ease-in-out;
    box-sizing:border-box;
    overflow:hidden;
    white-space:nowrap;

}
.jsm-option:hover {
    background:#626262;
}

.jsm-select:focus .jsm-option {
    position:relative;
    pointer-events:all;
}

.jsm-selection-wrapper input {
    opacity:1;
    position:absolute;
    left:99px;
}

.jsm-selection-wrapper input:checked + label {
    order: 2;
    z-index:2;
    background:#424242;
    border-top:none;
    position:relative;
}

.jsm-selection-wrapper input:checked + label:after {
    content:'';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
    position:absolute;
    right:10px;
    top:calc(50% - 2.5px);
    pointer-events:none;
    z-index:3;
}

.jsm-selection-wrapper input:checked + label:before {
    position:absolute;
    right:0;
    height: 40px;
    width: 40px;
    content: '';
    background:#424242;
}

#jsm-feature-selector-gas, #jsm-feature-selector-dm, #jsm-feature-selector-stars {
    padding: 10px;
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 50vh;
    border-style: solid;
    border-color: white;
    border-radius: 2px;
    background-color: rgba(0,0,0,0.5);
}

