body {
    margin:0;
    padding:0;
    background-color: black;
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    color: white;
    overflow: hidden;
}

#aladin-lite-div {
    position: fixed;
    top: 0;
    left: 0;
    width:50vw;
    height:100vh;
    float: left;
    border: none;
}

#jasmine-viewer {
    position: fixed;
    top: 0;
    left: 50vw;
    width: 50vw;
    height: 100vh;
    float: right;

    background-size: 50vw auto;
    background-position: right top;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.info {
    position: absolute;
    top: 95vh;
    right: 5px;
    display: block;
    float: right;
    text-align: right;
    z-index: 10;
}

.jasmine-logo {
    z-index: 10;
    position: absolute;
    width: 90px;
    left: 5px;
    bottom: 5px;
}

.jasmine-logo img {
    width: 100%;
}

.data-select {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
}

.jsm-selection-wrapper {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    border-style: solid;
    border-color: white;
    border-radius: 2px;
    padding: 10px;
}

.jsm-selection-wrapper#aladin-layer-selector {
    top: 0;
    right: 50vw;
}

.jsm-selection-wrapper#jasmine-layer-selector {
    top: 0;
    left: 50vw;
}

.jsm-select {
    display:flex;
    flex-direction: column;
    position:relative;
    margin-top: 10px;
    width: 20vw;
}
.jsm-option {
    padding:0 30px 0 10px;
    min-height:40px;
    display:flex;
    align-items:center;
    background: #424242;
    border-top:#424242 solid 1px;
    position:absolute;
    top:0;
    width: 100%;
    pointer-events:none;
    order:2;
    z-index:1;
    transition:background .4s ease-in-out;
    box-sizing:border-box;
    overflow:hidden;
    white-space:nowrap;

}
.jsm-option:hover {
    background:#626262;
}

.jsm-select:focus .jsm-option {
    position:relative;
    pointer-events:all;
}

input {
    opacity:1;
    position:absolute;
    left:99px;
}

input:checked + label {
    order: 2;
    z-index:2;
    background:#424242;
    border-top:none;
    position:relative;
}

input:checked + label:after {
    content:'';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
    position:absolute;
    right:10px;
    top:calc(50% - 2.5px);
    pointer-events:none;
    z-index:3;
}

input:checked + label:before {
    position:absolute;
    right:0;
    height: 40px;
    width: 40px;
    content: '';
    background:#424242;
}

