<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jasmine</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'hips/style.css' %}">
</head>
<body>
    <div class="lander">
        <h1>Welcome to Jasmine!</h1>
        <p>
            Jasmine is an extension to ALADIN Lite that suits for exploring data sets rather than full sky images.
            By projecting each data point to a HiPS cell, a hierarchical order is given.
        </p>
        <div class="surveys">
            <h2>Explore</h2>
            {% for survey in surveys %}
                <a href="{% url 'hips:survey' survey_id=survey.id %}">{{ survey.name }}</a> <br/>
            {% endfor %}
        </div>
        <div class="create-survey">
            <h2>Create survey</h2>
            <form id="create-survey-form" action="{% url 'hips:create_survey' %}" method="post"
                          enctype="multipart/form-data" >
                {% csrf_token %}
                <label for="survey-name">Survey name</label><br/>
                <input type="text" id="survey-name" name="survey-name"/><br/>
                <label for="survey-descr">Description:</label><br/>
                <input id='survey-descr' type="text" name="survey-descr"  maxlength="200"/><br/>
                <label for="max-order">Maximum HiPS order</label><br/>
                <input id='max-order' name='max-order' type="number" value="1"><br/>
                <table>
                    <tr>
                        <td>Images</td>
                        <td><input type="file" id="cutouts" name="cutouts"></td>
                    </tr>
                    <tr>
                        <td>Point Clouds:</td>
                        <td><input type="file" id="clouds" name="clouds"></td>
                    </tr>
                    <tr>
                        <td>Catalog</td>
                        <td><input type="file" id="catalog" name="catalog"></td>
                    </tr>
                </table>
                 <input class='button' type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>
</html>